header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header > .logo {
    background: url('../images/logo.png') no-repeat;
    height: 80%;
    width: 140px;
    margin-left: 20px;
}
