body {
    background: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
    height: 100vh;
}

footer > p {
    text-align: center;
    margin-top: 22px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    min-height: 780px;
}
