<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBnB</title>
        <meta charset="utf-8">
        <LINK href="./styles/4-common.css" rel="stylesheet" type="text/css">
        <LINK href="./styles/3-header.css" rel="stylesheet" type="text/css">
        <LINK href="./styles/3-footer.css" rel="stylesheet" type="text/css">
        <LINK href="./styles/6-filters.css" rel="stylesheet" type="text/css">
        <link href="./images/icon.png" rel="icon">
    </head>
    <body>
        <header>
            <div class="logo"></div>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3 class="h3fontw">States</h3>
                    <h4 class="h4fontw">&nbsp</h4>
                    <ul class="popover">
                        <li><h2>Arizona:</h2>
                            <ul class="statepopUL">
                                <li>Page1</li>
                                <li>Page2</li>
                            </ul>
                        </li>
                        <li><h2>California:</h2>
                            <ul class="statepopUL">
                                <li>San Francisco</li>
                                <li>Los Angeles</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="amenities">
                    <h3 class="h3fontw">Amenities</h3>
                    <h4 class="h4fontw">&nbsp</h4>
                    <ul class="popover">
                        <li>Internet</li>
                        <li>Tv</li>
                        <li>Kitchen</li>
                        <li>Iron</li>
                    </ul>
                </div>
                <button>Search</button>
            </section>
        </div>
        <footer>
            <p>Holberton School</p>
        </footer>
    </body>
</html>
